@import "breakpoints";
@import "variables";

* {
  box-sizing: border-box;
}

#root {
  padding: 0;
  margin: 0;
  height: 100vh;
}

body {
  position: relative;
  display: grid;
  grid-template-areas:
    "banner"
    "content"
    "footer";
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: $col-near-white;
  margin: 4em 0 0 0;
  margin: 0;
  padding: 0;
}

main {
  grid-area: content;
  margin: 0 auto;
  max-width: 1200px;
}

// Text and headings
h1 {
  font-size: $fs-900;
}

h2 {
  font-size: $fs-700;
}

h3 {
  font-size: $fs-500;
}

.heading {
  font-weight: 800;
  margin: 0;
  padding: 0.5em 0;
  line-height: 1.6;
}

// Links, Nav & lists
a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    cursor: pointer;

    a {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      &:hover {
        text-decoration: underline;
        text-decoration-color: $col-primary;
        text-decoration-thickness: 3px;
      }
    }
  }
}

// Buttons
button {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  height: 3em;
  width: 100%;
  margin: 0;
  border: none;
  font-size: 1rem;
  background: $col-primary;
  color: $col-white;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.8;
    transition: opacity 0.2s ease;
  }
}

// Forms & input
input,
textarea {
  border-radius: 0.25em;
  font-size: 1rem;
  border: 2px solid $col-primary;
  padding: 0.5em;

  &:focus {
    outline: 3px solid $col-secondary;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

form {
  fieldset {
    position: relative;
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;
    margin: 0;

    label {
    }

    input,
    textarea {
      margin-bottom: 1.375em;

      &::placeholder {
        color: rgb(70, 70, 70);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
    }

    input {
      height: 2.5em;
    }

    textarea {
      min-width: 100%;
      max-width: 100%;
    }
  }
  button {
    margin-bottom: 1em;
  }

  .form-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    border-radius: $radius-sm;
    z-index: $index-10;
    box-shadow: $shadow-md;
    padding: 1em;
    background-color: $col-near-white;

    p {
      padding: 2em;
    }
    button {
      margin: 0;
    }
  }
}

// HR
hr {
}
.hr-break {
  opacity: 0.25;
  width: 97.5%;
}

.hr-desktop {
  display: none;
  @include breakpoint(large) {
    display: block;
  }
}

// Special classes
.overlay {
  display: none;
  position: fixed;
  top: 10.5em;
  @include breakpoint(large) {
    top: 7.5em;
  }
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: $index-3;

  &.show {
    display: block;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(50%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search-alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  border-radius: $radius-sm;
  z-index: $index-10;
  box-shadow: $shadow-md;
  padding: 1em;
  background-color: $col-near-white;

  p {
    padding: 2em;
  }
}

.star-rating {
  grid-area: rating;
  display: flex;
  gap: 0.5em;

  .stars {
    display: flex;
    align-items: center;
    gap: 5px;

    .star {
      position: relative;
      padding: 0;
      width: 20px;
      height: 20px;

      img {
        width: 100%;
        height: 100%;
        opacity: 0.3;
      }
    }
    .star-full img {
      opacity: 1;
    }
    .star-one-quarter::before,
    .star-half::before,
    .star-three-quarter::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background: orange;
      mask: url("/icons/star.svg");
      mask-size: cover;
      opacity: 1;
    }
    .star-one-quarter::before {
      width: 25%;
    }
    .star-half::before {
      width: 50%;
    }
    .star-three-quarter::before {
      width: 75%;
    }
  }
}

// Loading effects
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-left-color: $col-third;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
