* {
  box-sizing: border-box;
}

#root {
  padding: 0;
  margin: 0;
  height: 100vh;
  max-width: 1280px;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas:
    "banner"
    "content"
    "footer";
  // grid-template-rows: repeat(3, auto);
}

header {
  grid-area: banner;
  // grid-row: 1;
  height: 4em;
  background-color: rgba(215, 150, 10, 0.634);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

main {
  grid-area: content;
  // grid-row: 2;
  margin: 0 0.75em;
}

footer {
  grid-area: footer;
  // grid-row: 3;
  height: 3em;
  width: 100%;
  height: 4em;
  margin-top: auto;
  display: flex;
  justify-content: center;
  background-color: rgb(66, 60, 60);
  color: white;

  h2 {
  }
}

li {
  cursor: pointer;
}
