@import "global";
@import "breakpoints";
@import "variables";
@import "header";
@import "footer";

/* --- --- HOME --- --- */

.hero-wrapper {
  display: flex;
  margin-top: 1em;
  z-index: $index-1;
  cursor: default;

  @include breakpoint(large) {
    margin-top: 0;
  }

  .hero {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $col-third;

    .hero-title {
      display: flex;
      flex-direction: column;
      width: 3.5em;
      color: $col-primary;

      :first-child {
        font-size: 1.25rem;
      }
      :nth-child(2) {
        margin-left: auto;
        font-size: 1.75rem;
      }
    }
    .hero-image {
      width: 3.5em;
    }
  }
}
// PROMO BANNER
.promo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background: linear-gradient(45deg, $col-primary 50%, $col-near-black 50%);
  color: $col-near-white;
  margin: 1em 0;
  padding: 1em;
  cursor: default;

  h2 {
    margin: 0.25em 0;
  }
  span {
    font-size: 2.5rem;
  }
}

// CARDS
.card,
.card-focus,
.card-focus2 {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  box-shadow: 1px 1px 10px $col-forth;
  transition: outline 0.05s ease-in-out;

  &:hover {
    outline: 3px solid $col-primary;
    transition: outline 0.05s ease-in-out;
    border-radius: 3px;
  }

  .card-image-wrapper,
  .card-focus-image-wrapper,
  .card-focus2-image-wrapper {
    grid-area: image;
    height: 100%;
    width: 100%;
    img {
      box-sizing: content-box;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .card-title,
  .card-focus-title,
  .card-focus2-title {
    grid-area: name;
    font-weight: 700;
    margin-top: 0.5em;
    height: 2.5em;
  }

  .card-price-wrapper,
  .card-focus-price-wrapper,
  .card-focus2-price-wrapper {
    grid-area: price;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    height: 3em;
    .card-price-discounted,
    .card-focus-price-discounted,
    .card-focus2-price-discounted {
      text-decoration: line-through;
      text-decoration-color: gray;
    }

    .card-price,
    .card-focus-price,
    .card-focus2-price {
      margin-top: auto;
    }
  }

  .card-price-discounted-percentage,
  .card-focus-price-discounted-percentage,
  .card-focus2-price-discounted-percentage {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: $index-2;
    background: $col-third;
    height: 2em;
    width: 4em;

    span {
      font-size: 1rem;
      color: $col-primary;
      font-weight: bold;
    }
  }
  .card-price-discounted,
  .card-focus-price-discounted,
  .card-focus2-price-discounted {
    margin-top: auto;
    font-size: 0.9rem;

    .card-price,
    .card-focus-price,
    .card-focus2-price {
      margin-top: auto;
      font-size: 1.25rem;
      font-weight: bold;
    }
  }
  .star-rating {
    .card-focus-reviews {
      margin: auto 0;
    }
  }
  button {
    grid-area: calltoaction;
    margin-top: auto;
    font-size: 0.9rem;
  }
}

// CARDS FOCUS
.cards-focus-wrapper {
  display: block;
  margin: 0 0.5em;

  @media screen and (min-width: 1200px) {
    margin: 0;
  }

  @include breakpoint(large) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 13em);
    grid-template-areas:
      "focus1 focus2"
      "focus1 focus2";
  }
}

.card-focus,
.card-focus2 {
  background: $col-near-black;
  color: $col-white;

  @include breakpoint(medium) {
    padding-right: 0.5em;
  }
}

.card-focus {
  grid-area: focus1;
  @include breakpoint(medium) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "image  name"
      "image  description"
      "image  rating"
      "image  price"
      "image  calltoaction";
    height: 26em;
  }
  @include breakpoint(large) {
    margin-right: 0.5em;
  }
  .card-focus-image-wrapper {
    height: 20em;
    @include breakpoint(medium) {
      height: 26em;
    }
  }

  .card-focus-title {
    font-size: 1.75rem;
    margin-left: 0.4em;
    @include breakpoint(medium) {
      margin-left: 0;
    }
  }

  .card-focus-description {
    grid-area: description;
    height: 4em;
    margin-left: 0.5em;
    @include breakpoint(medium) {
      margin-left: 0;
    }
  }

  .card-focus-price-wrapper {
    margin-left: 0.5em;
    @include breakpoint(medium) {
      margin-left: 0;
    }
    .card-focus-price-discounted-percentage {
      height: 2.5em;
      width: 5em;
      top: -552px;
      right: 0;
      span {
        font-size: 1.25rem;
      }

      @include breakpoint(medium) {
        top: -285px;
        left: -88px;
      }
    }
  }
  .star-rating {
    margin-left: 0.5em;
    @include breakpoint(medium) {
      margin-left: 0;
    }
    .stars {
      .star {
        width: 30px;
        height: 30px;
      }
    }
  }
  @include breakpoint(medium) {
    button {
      margin: auto 0 0.5em 0;
    }
  }
}

.cards-focus2-container {
  display: none;
  grid-area: focus2;
  @include breakpoint(large) {
    display: grid;
    grid-template-rows: 12.75em 12.75em;
    gap: 0.5em;
  }

  .card-focus2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "image name"
      "image rating"
      "image price"
      "image calltoaction";
    height: 12.75em;

    .card-focus2-image-wrapper {
      height: 12.75em;
    }
    .card-focus2-price-wrapper {
      .card-focus2-price-discounted-percentage {
        top: -84px;
        left: -72px;
      }
    }
  }
  button {
    margin: auto 0 0.5em 0;
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 0 0.5em 1em;
  @include breakpoint(medium) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  @include breakpoint(x-large) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: 1200px) {
    margin: 0 0 1em;
  }

  .card {
    background: $col-white;
    color: $col-black;

    @include breakpoint(x-small) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "image  name"
        "image  rating"
        "image  price"
        "image  calltoaction";
      gap: 0.5em;
      padding-right: 0.5em;
    }

    .card-image-wrapper {
      height: 10em;
      @include breakpoint(x-small) {
        height: 14em;
      }
    }

    .card-title {
      font-size: 1.25rem;
      margin-left: 0.4em;
      @include breakpoint(x-small) {
        margin-left: 0;
      }
    }

    .card-price-wrapper {
      margin-left: 0.5em;
      @include breakpoint(x-small) {
        margin-left: 0;
      }

      .card-price-discounted-percentage {
        top: -254px;
        right: 0;

        @include breakpoint(x-small) {
          top: -102px;
          left: -72px;
        }
      }
    }
    .star-rating {
      margin-left: 0.5em;
      @include breakpoint(x-small) {
        margin-left: 0;
      }
    }
    button {
      @include breakpoint(x-small) {
        margin: auto 0 0.5em 0;
      }
    }
  }
}

/* --- --- PRODUCT --- --- */
.product {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
  @include breakpoint(medium) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "image title"
      "image description"
      "image rating"
      "image price"
      "image callToAction"
      "tags ."
      "productId ."
      "customerReviews customerReviews";
    padding: 1em;
    margin-top: 0;
  }

  .star-rating {
    margin-left: 0.5em;
    @include breakpoint(medium) {
      margin-left: 0;
    }
  }

  .product-image {
    grid-area: image;
    height: 23em;
    width: 100%;
    object-fit: cover;

    @include breakpoint(medium) {
      border-radius: $radius-sm;
    }
  }

  .product-title {
    grid-area: title;
    margin-left: 0.25em;
    @include breakpoint(medium) {
      margin-left: 0;
    }
  }

  .product-description {
    grid-area: description;
    margin-left: 0.5em;
    @include breakpoint(medium) {
      margin-left: 0;
    }
  }

  .product-price-wrapper {
    position: relative;
    grid-area: price;
    display: flex;
    flex-direction: column;

    margin-left: 0.5em;
    @include breakpoint(medium) {
      margin-left: 0;
    }

    .product-price-discounted-percentage {
      border-radius: $radius-circle;
      background: red;
      height: 3em;
      width: 3em;
      position: absolute;
      top: -210px;
      right: 7px;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        color: white;
        font-weight: bold;
      }

      @include breakpoint(x-small) {
        top: -135px;
        left: -64px;
      }
    }

    .product-price-discounted {
      margin-top: auto;
      font-size: 0.9rem;
    }
    .product-price {
      margin-top: auto;
      font-size: 1.25rem;
      font-weight: bold;
    }
  }

  .product-buyBtn {
    margin: 0 auto;
    width: calc(100% - 0.75em);

    @include breakpoint(medium) {
      width: 100%;
    }
  }

  .product-tags {
    grid-area: tags;

    margin-left: 0.5em;
    @include breakpoint(medium) {
      margin-left: 0;
    }
    span {
      margin-right: 0.5em;
    }
  }
  .product-id {
    grid-area: productId;

    margin-left: 0.5em;
    @include breakpoint(medium) {
      margin-left: 0;
    }
  }

  .product-reviews {
    grid-area: customerReviews;
    h2 {
      margin-left: 0.5em;
    }
    .review {
      padding: 1em;
      margin-bottom: 1em;
      background: #efefef;

      .star-rating {
        margin-left: 0;
      }
      .review-description {
        max-width: 65ch;
      }
      .review-user {
        span:last-child {
          font-weight: bold;
        }
      }
    }
  }
}

// --- --- CONTACT --- --- //

.contact-content {
  margin: 1em auto 2em;
  padding: 0 0.75em;
  max-width: 768px;

  header {
    h1 {
      padding: 0em;
    }
  }

  .contact-info-section {
    display: grid;
    grid-template-columns: 100%;
    gap: 1em;

    section {
      background: $col-white;
      padding: 1em;
      box-shadow: 0 0 3px $col-forth;
      border-radius: 5px;
      header {
        display: flex;
        align-items: center;
        gap: 1em;
        h2 {
          margin: 0;
          line-height: 1;
        }
        svg {
          color: $col-primary;
        }
      }
      a {
        color: $col-primary;
        text-decoration: underline;
      }
      dl {
        h3 {
          margin-bottom: 0.25em;
        }
        dt {
          font-weight: bolder;
        }
        dd {
          margin: 0.5em 0;
        }
      }
    }
    @include breakpoint(medium) {
      grid-template-columns: 1fr 1fr;
      section {
        header {
          justify-content: center;
        }
      }
    }
  }

  form {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
  }
}

// --- --- CHECKOUT --- --- //

.cart {
  margin: 0 0.5em;
  h1 {
    text-align: center;
  }
  .cart-empty-cart-btn {
    background: red;
    color: white;
    margin: 0 0 0.5em auto;
    width: 7.5em;
  }
  .cart-container {
    display: flex;
    flex-direction: column;

    article {
      display: grid;
      grid-template-areas:
        "img title title"
        "img description description"
        "quantity price removeBtn";
      grid-template-columns: 7em auto 3em;
      grid-template-rows: 2.5em 5.5em 2.5em;
      padding: 0.5em;
      background: $col-forth;
      margin-bottom: 0.5em;

      &:last-of-type {
        margin-bottom: 1em;
      }

      @include breakpoint(medium) {
        grid-template-areas:
          "img title title title"
          "img description description description"
          "img quantity price removeBtn";
        grid-template-columns: 12em auto auto 3em;
      }

      a {
        grid-area: img;
        height: 100%;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: $radius-sm;
        }
      }
      .cart-title {
        grid-area: title;
        font-weight: bold;
        margin-left: 1em;
        height: fit-content;
        font-size: 0.85rem;
      }
      .cart-description {
        grid-area: description;
        margin: 0 0 0 1em;
        font-size: 0.75rem;
      }

      @include breakpoint(small) {
        .cart-title {
          font-size: 1rem;
        }
        .cart-description {
          font-size: 0.85rem;
        }
      }
      .cart-remove-item {
        grid-area: removeBtn;
        width: 2.25em;
        height: 2.25em;
        font-size: 0.85rem;
        border-radius: 50%;
        margin: auto 0 0 auto;
        background: white;
        color: black;
      }

      .cart-quantity-container {
        grid-area: quantity;
        display: flex;
        align-items: center;
        margin: auto 0 0 0;

        @include breakpoint(medium) {
          margin: auto 0 0 1em;
        }

        * {
          height: 2em;
        }

        button {
          padding: 1em;
          height: 0;
          width: 0;
          color: black;
          background: $col-white;

          span {
            font-size: 1rem;
          }
        }

        .cart-quantity-subtract {
          border-radius: $radius-sm 0 0 $radius-sm;
        }
        input {
          width: 3em;
          border: none;
          border-radius: 0;
          text-align: center;
        }
        .cart-quantity-addition {
          border-radius: 0 $radius-sm $radius-sm 0;
        }
      }
      .cart-price-container {
        grid-area: price;
        display: flex;
        align-items: center;
        margin-top: auto;
        height: 2em;
        .cart-price {
          font-weight: bolder;
          margin-left: auto;
        }
      }
    }
  }

  .cart-summary {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 550px;
    padding: 1em;
    margin: 0 auto 1em auto;
    background: $col-forth;
    border-radius: $radius-sm;

    h2,
    p {
      text-align: center;
    }

    .cart-summary-price {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 14em;

      .cart-full-price,
      .cart-total-discount,
      .cart-final-price {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0.5em;
        border-radius: $radius-sm;
        margin-bottom: 0.5em;
      }
    }
    .cart-total-discount {
      background: $col-third;
    }

    a {
      .cart-checkout-btn {
        width: 100%;
        height: 3em;
      }
    }
  }
}

// --- --- CHECKOUT SUCCESS --- --- //

.checkoutsuccess-content {
  max-width: 40em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  section {
    :not(:nth-child(2)) {
      text-align: center;
    }
  }
  a {
    width: 100%;
    max-width: 480px;
    button {
      margin-bottom: 1em;
    }
  }
}
